<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Clubs</title>
</head>
<body>
    <h1>Clubs</h1>
    @foreach (var club in @Model) {
        <p>club.Name</p>
    }

</body>
</html>
